define color-header-background  navy
define color-header-dividers    aqua
define color-header-headline    lightpink
define color-navbar-text        gold
define color-navbar-current     red
define color-navbar-hover       yellow
define color-navbar-visited     darksalmon
define color-body-text          navy
define color-background         lightpink
define color-navlink            crimson
define color-navlink-visited    green
define color-navlink-hover      red
define color-navlink-hover-bg   mistyrose
define color-h1					navy
define color-h2					cyan
define color-h3					red
define color-h4					red
define color-h5					red

define color-outline-navbar		red
define color-outline-navbar-ln	solid 

/* COLOR CATEGORY REQUIREMENTS
color-header-background  OK
color-header-headline    OK
color-navbar-text        OK
color-navbar-visited     OK
color-navbar-hover       OK
color-navbar-current
color-background
color-body-text
color-navlink            OK
color-navlink-visited    OK
color-navlink-hover      OK
color-h1                 OK
color-h2                 OK
color-h3                 OK
*/

define font-style-base          font-size: 10pt; font-family: "Arial" sans-serif
define font-style-name          font-size: 18pt; font-weight: bold
define font-style-navbar        font-size: 10pt
define font-style-navbar-link   font-weight: bold
define font-style-content       /* font: same as base */
define font-style-h1            font-size: 16pt
define font-style-h2            font-size: 14pt
define font-style-h3            font-size: 12pt

/* Reset: from Eric Meyer---------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* --------------------------------------------------------------- */
/* Header--------------------------------------------------------- */
/* red colors: 88-01-01, 64-00-00, 7D-00-00                        */
/* white colors: FFF, and EEE and DDD and soforth                  */
/*   colors from Wolsey                                            */ 
#header, #footer {
color: #630000;
background-color: #880101;
}

#header a, #footer a {
white-space: nowrap;
text-decoration: none;
}

#name {
padding: 9px;
margin-bottom: -13px;
color: white;
font-weight: bold;
font-size: 18pt;
font-family: Helvetica, Arial, Verdana, Trebuchet, "Trebuchet MS", sans-serif;
line-height: 100%;
}

#name a {
color: white;
}

/* Footer--------------------------------------------------------- */
.copyright {
float: right;
color: #999999;
}

/* Site Map------------------------------------------------------- */
html[page="sitemap"] ol {
line-height: 250%;
}

html[page="sitemap"] ol li {
list-style: upper-roman;
}

html[page="sitemap"] ol ol {
line-height: 150%;
}

html[page="sitemap"] ol ol li {
list-style: decimal;
}

html[page="sitemap"] ol ol ol li {
list-style: lower-alpha;
}


/* Navigation----------------------------------------------------- */
.navbar {
	color: white;
	font: normal 110% Helvetica, Arial, Verdana, Trebuchet, "Trebuchet MS", sans-serif;
}

.navbar table {
	color: white;
	font-size: inherit;
}

.navbar a {
font-weight: normal;
color: #BAD9FF;
	font-style: normal;
	border: 1px solid ##880101;
}

.navbar a.current {
color: #ffffff;
}

.navbar a:hover {
	color: #EEE;
	background-color: #640000;
	border: 1px solid #5C0000;

}
.navbar a:visited {
	color: #999;
	background-color: #640000;
	border: 1px solid #5C0000;

}

/* Main Structure------------------------------------------------- */

div { 
border:1px teal dashed; }

html * { font-size: 100.01% } /*avoid IE text resizing bug*/

body {
margin: 0pt;
color: black;
background-color: white;
font: 12pt/1.6 "Georgia", "Palatino", "Minion Pro", "Minion Web" ,"lucida bright", "Times New Roman", "Times", serif;
}

.quote {
padding-left: 20px;
padding-right: 20px;
}

#content {
  /* font: same as base */;
border: 13px solid #999999;
background: #ffffff;
clear: both;
padding: 10px 16px 26px 16px;
}
/* Typography-------------------------------------------------------- */

#wrapper {
	width: 36em;
}

h1, h2, h3 {
	font-weight:normal;	
}

h1 {
	font-size: 1.375em; /* 16x1.375=22px */
	line-height: 1.636em;/* 16x1.636=36px */
	margin: 0;
}

h2 {
	font-size: 1.125em; /* 16x1.125=18px */
	margin:1em 0; /* 18x1=18px */
}

p {
	font-size: 0.875em; /* 16x0.875=14px */
	margin: 1.286em 0; /* 14x1.286=18px */
}

/* Content----------------------------------------------------------- */


#content h1 {
font-size: 16pt;
}

#content .caps {
font-weight: bold;
letter-spacing: 0.2ex;
font-size: large;
font-variant: small-caps;
}

#content ul {
list-style-type: square;
}

#content a {
text-decoration: inherit;
color: #004080;
font-weight: bold;
}

#content a:hover {
text-decoration: underline;
}

.image {
float: right;
margin: 0px 15px 10px 15px;
background: #cfcfcf;
padding: 4px;
}

.caption {
text-align: center;
font-weight: normal;
font-family: Georgia, Times New Roman, Times, serif;
font-style: italic;
padding: 4px;
padding-top: 6px;
}

/* Bibliography (CV)----------------------------------------------------- */

#content .pubtitle {
	color: red;
}

.year {
	font-weight: bold;
}

.volume {
	font-weight: bold;
	font-style: italic;
}

.pp {
	font-weight: normal;
}

.date {
	font-weight: normal;
}

.booknm {
	font-style: italic;
}

.pub {
	color: dimgray;
}

.auth {
	font-weight: bold;
}
