<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Richard Karpinski, MD - {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="header">
    <div id="name"><b>Richard Karpinski, MD</b></div>
    <div class="navbar">
      <table width="100%" cellpadding="9" cellspacing="0">
        <tr>
          <td align="left">
            <a href="index.html" class="current"><b>Home</b></a>
              <span style="position: relative; top: -1px;">|</span>
            <a href="credentials.html"><b>Credentials</b></a>
              <span style="position: relative; top: -1px;">|</span>
            <a href="facilities.html"><b>Facilities</b></a>
              <span style="position: relative; top: -1px;">|</span>
            <a href="procedures.html"><b>Procedures</b></a>
              <span style="position: relative; top: -1px;">|</span>
            <a href="insurance.html"><b>Insurance</b></a>
              <span style="position: relative; top: -1px;">|</span>
            <a href="location.html"><b>Location</b></a>
              <span style="position: relative; top: -1px;">|</span>
            <a href="policies.html"><b>Policies</b></a>
              <span style="position: relative; top: -1px;">|</span>
            <a href="contacts.html"><b>Contact Us</b></a>
              <span style="position: relative; top: -1px;">|</span>
            <a href="faq.html"><b>FAQ</b></a>
            <br>
          </td>
          <td align="right" style="font-size: 90%">
            <a href="sitemap.html"><b>Site Map</b></a>
            <br>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="content">
    <h1>{{ page.title }}</h1>
    <hr>
    <!-- begin content -->
    {{ content }}
    <!-- end content -->
  <div class="copyright">© Richard Karpinski | 2003 - 2012</div>
  </div>
</body>
</html>
